<div class="container-fluid form-horizontal">

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Desired containers
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="capacity"
                                 ng-model="$ctrl.command.capacity.desired"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Minimal number of deployed containers
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="min"
                                 ng-model="$ctrl.command.capacity.min"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Maximal number of containers
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="max"
                                 ng-model="$ctrl.command.capacity.max"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-12 checkbox">
      <label>
        <input type="checkbox" ng-checked="true" ng-model="$ctrl.command.capacity.usePreviousCapacityIfAvailable"/> <!-- TODO: Use the controller to set a default, just like there are many defaults on this page -->
        <b>If available, use the previous server group's capacity</b>
      </label>
    </div>
  </div>

  <br />

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Reserved compute units (1024 ≈ 1 core)
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="computeUnits"
                                 ng-model="$ctrl.command.computeUnits"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Reserved Memory (MB RAM)
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="memory"
                                 ng-model="$ctrl.command.reservedMemory"/></div>
  </div>


  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Autoscaling policy</b>
    </div>
    <div class="col-md-8">
      <ui-select multiple
                 ng-model="command.autoscalingPolicies"
                 class="form-control input-sm">
        <ui-select-match>{{$item}}</ui-select-match>
        <ui-select-choices repeat="item in ['Scale down 1 - CPU usage < 50% - 10 minute window', 'Scale up 1 - CPU usage > 80% - 5 minute window']">
          <span ng-bind-html="item"></span>
        </ui-select-choices>
      </ui-select>
      <!-- TODO - implement auto-scaling with real values, using a real controller, here! -->
    </div>
  </div>
</div>
