<div class="container-fluid form-horizontal">

  <div class="form-group">
    <div class="col-md-5 sm-label-right"><b>ECS IAM Instance Profile (must-have if you use a load balancer)</b></div>
    <!-- TODO - Add a help box that explains that the container does not share profiles with the host -->
    <div class="col-md-7">
      <ui-select ng-model="$ctrl.command.iamRole" class="form-control input-sm" required on-select="$ctrl.fieldChanged()">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="iamRole in $ctrl.command.backingData.filtered.iamRoles | filter: $select.search">
          <span ng-bind-html="iamRole"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>


  <ui-select ng-if="$ctrl.command.backingData.filtered.targetGroups.length"
             single
             ng-model="$ctrl.command.targetGroups"
             class="form-control input-sm">
    <ui-select-match>{{$item}}</ui-select-match>
    <ui-select-choices repeat="targetGroup in $ctrl.command.backingData.filtered.targetGroups | filter: $select.search">
      <span ng-bind-html="targetGroup | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>


  <!--Backing data: {{$ctrl.command.backingData}}-->
  <br />
  <br />
  <br />
  <!--Command: {{$ctrl.command}}-->

  <!--<input type="text"-->
         <!--class="form-control input-sm no-spel"-->
         <!--ng-model="$ctrl.command.iamRole"-->
         <!--name="iamRole"/>-->

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      <b>Placement strategy</b>
    </div>
    <div class="col-md-7">
      <ui-select multiple
                 ng-model="$ctrl.command.placementStrategy"
                 class="form-control input-sm">
        <ui-select-match>{{$item}}</ui-select-match>
        <ui-select-choices repeat="item in ['AZ Balanced Spread', 'AZ Balanced BinPack', 'BinPack', 'One Task Per Host']">
          <span ng-bind-html="item"></span>
        </ui-select-choices>
      </ui-select>
      <!-- TODO - implement this , using a real controller providing the data, here! -->
    </div>
  </div>
</div>
